<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA88qRoUk2aIf9UEMkn852dg4apsQUzIOc</string>
	<key>GCM_SENDER_ID</key>
	<string>91423500395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masterung.studentjo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>studentjo-57f60</string>
	<key>STORAGE_BUCKET</key>
	<string>studentjo-57f60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91423500395:ios:15fd2d868a43a642dea92e</string>
</dict>
</plist>